@import "./variables";

@media only screen and (max-width: 800px) {
    :root {
        font-size: 14px;
    }
}
@media only screen and (max-width: 700px) {
    :root {
        font-size: 12px;
    }
}
@media only screen and (max-width: 550px) {
    :root {
        font-size: 10px;
    }
}
@media only screen and (max-width: 450px) {
    :root {
        font-size: 8px;
    }
}

.App {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .Socials {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        gap: 15px;
        z-index: 1;
        padding: 15px;

        svg {
            cursor: pointer;

            path {
                fill: $white;
            }
        }
    }
    .Lightside {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 50%;
        background-color: $white;
        color: $background_color;

        .Title {
            letter-spacing: 0.5rem;
            font-weight: bold;
            font-size: 5rem;
        }
        .Letters {
            .Letter {
                user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                position: absolute;
                color: $background_color;
                opacity: 0.1;
            }

            .Letter:nth-child(1) { top: 8%; left: 70%; font-size: 10rem; }
            .Letter:nth-child(2) { top: 25%; left: 10%; font-size: 7rem; }
            .Letter:nth-child(3) { top: 45%; left: 80%; font-size: 8rem; }
            .Letter:nth-child(4) { top: 70%; left: 15%; font-size: 12rem; }
            .Letter:nth-child(5) { top: 65%; left: 50%; font-size: 5rem; }
            .Letter:nth-child(6) { top: 80%; left: 85%; font-size: 9rem; }
        }
    }
    .Darkside {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 50%;
        background-color: $background_color;
        color: $primary_color;

        .Title {
            letter-spacing: 0.5rem;
            font-weight: bold;
            font-size: 5rem;
        }
        .Letters {
            .Letter {
                user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                position: absolute;
                color: $primary_color;
                opacity: 0.1;
            }

            .Letter:nth-child(1) { top: 8%; left: 10%; font-size: 12rem; }
            .Letter:nth-child(2) { top: 25%; left: 80%; font-size: 7rem; }
            .Letter:nth-child(3) { top: 80%; left: 20%; font-size: 8rem; }
            .Letter:nth-child(4) { top: 55%; left: 65%; font-size: 15rem; }
        }
    }
}
