@import "../../../Functions";

.Section-1 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;

  .Quote {
    position: absolute;
    width: fit-content;
    top: 20%;
    z-index: 3;
    font-size: rem-calc(125px);
    background: var(--white);
    color: var(--primary_color);
    text-shadow: 2px 2px var(--black);
    padding: rem-calc(5px, 25px);
    border-radius: rem-calc(5px);
    font-weight: bold;
    text-align: center;
  }

  .Earth-animation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .Text-patternWrapper {
    width: 100%;
    height: 100%;
    background: var(--primary_color);
    overflow: hidden;

    .Text-pattern {
      position: fixed;
      width: 200%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-mask-image: url("../../../assets/images/code-design-text-repeat.svg");
      mask-image: url("../../../assets/images/code-design-text-repeat.svg");
      background-color: var(--white);
      opacity: 0.05;
      animation: pan linear 90s infinite;
    }
  }
}

@keyframes pan {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}


@media screen and (max-width: 1400px) {
  .Section-1 {
    .Quote {
      font-size: rem-calc(100px);
    }
  }
}

@media screen and (max-width: 1150px) {
  .Section-1 {
    .Quote {
      font-size: rem-calc(75px);
    }
  }
}

@media screen and (max-width: 850px) {
  .Section-1 {
    .Quote {
      font-size: rem-calc(50px);
    }
  }
}